<title>Verify Success</title>
<style type='text/css'>

  body { font-family: 'Roboto', sans-serif; } .container { width: 100%; height:
  100%; } .container img { width: 100%; height: 100%; object-fit: cover; }
  button { background-color: black; color: white; font-family: 'Oswald',
  sans-serif; font-weight: bold; border: none; padding: 10px 20px;
  text-decoration: none; display: inline-block; font-size: 16px; margin: 4px
  2px; cursor: pointer; border-radius: 5px;} .disclaimer { font-size: 10px; }
  .alert { color: red; } .alert-bold { font-weight: bold; }

</style>

<div class='container'>
  <a href='https://workea.me'>
    <img src='{{appLogoUrl}}' alt='app_logo' />
  </a>
</div>

<div><hr /></div>

<h2>Hola de nuevo, {{userName}}</h2>

<p>Tu password ha sido cambiado exitosamente</p>

<div>
  <a href='https://workea.me'>
    <button type='button'>EMPIEZA A WORKEAR</button>
  </a>
</div>

<p class='alert'>Si tu no has hecho este cambio, comunícate con nosotros a
  <span class='alert-bold'>contacto@workea.me</span></p>

<div><hr />
  <p class='disclaimer'>Este es un correo automatizado favor de no responderlo.
    Hecho con ❤️ por el equipo de Workea.</p>
</div>